@import 'colors';
@import 'fonts';

body {
    .tip {
        p {
            @include para;
            text-align: left;
            margin-bottom: 100px;
        }
    }

    #accountModalToggle,
    #accountModalToggle2 {
        .modal-content {
            background-color: $cream;
            border: solid 2px $gold;

            .modal-header {
                width: 100%;
                border-bottom: none;
                padding-bottom: 0;

                .modal-title {
                    @include header2;
                    width: 100%;
                    text-align: center;
                }

                .btn-close {
                    font-size: 15px;
                    margin: 0;
                    padding: 0;
                    text-align: right;
                }
            }

            .modal-body {
                padding-top: 0;
                padding-bottom: 0;

                form {

                    label {
                        @include header5;
                    }

                    .form-text {
                        @include para;

                        a {
                            text-decoration: none;
                            color: $blue;
                        }
                    }
                }

                #createAccount, #createAccount2 {
                    @include header5;
                    color: $red;
                    background-color: $cream;
                }

            }

            .modal-footer {
                border-top: none;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 10px;
                padding-bottom: 25px;


                #continue, #continue2 {
                    margin-top: 10px;
                    border: solid 3px $gold;
                    background-color: $red;
                    color: $gold;
                    border-radius: 10px;
                    @include header5;
                    padding: 5px 30px;
                }
            }
        }
    }
}

// TABLET
@media only screen and (min-width: 601px) {

    body {
        .tip {
            p {
                text-align: center;
            }
        }
    }
}