@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@500;600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Yesteryear&display=swap');

@mixin header1 {
    font-family: 'Yesteryear', cursive;
    font-size: 48px;
}

@mixin header2 {
    font-family: 'Yesteryear', cursive;
    font-size: 39px;
}

@mixin header3 {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-weight: 600;
    font-size: 30px;
}

@mixin header4 {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-weight: 600;
    font-size: 25px;
}

@mixin header5 {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

@mixin para {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}